@model DoAnCoSo.Models.NghiPhep

@{
    ViewData["Title"] = "CreateNP";
    Layout = "~/Views/Shared/_LayoutQL.cshtml";
}
<br />
<h4>Đơn xin nghỉ phép</h4>
<hr />
@if (TempData["success"] != null)
{
    <div class="alert alert-success">
        @TempData["success"]
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateNP">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaNhanVien" class="control-label"></label>
                <input asp-for="MaNhanVien" class="form-control" value="@ViewBag.Categories" readonly />
            </div>
            <div class="form-group">
                <label asp-for="TenNhanVien" class="control-label"></label>
                <input asp-for="TenNhanVien" value="@ViewBag.tenNV" class="form-control" readonly />
                <span asp-validation-for="TenNhanVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LyDo" class="control-label"></label>
                <input asp-for="LyDo" class="form-control" />
                <span asp-validation-for="LyDo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayBatDau" class="control-label"></label>
                <input type="date" asp-for="NgayBatDau" class="form-control" />
                <span asp-validation-for="NgayBatDau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayKetThuc" class="control-label"></label>
                <input type="date" asp-for="NgayKetThuc" class="form-control" />
                <span asp-validation-for="NgayKetThuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoaiNghi" class="control-label"></label>
                <div>
                    <label>
                        <input type="radio" asp-for="LoaiNghi" value="Có lương" /> Có lương
                    </label>
                    <span style="margin-right: 35px;"></span>
                    <label>
                        <input type="radio" asp-for="LoaiNghi" value="Không lương" /> Không lương
                    </label>
                </div>
                <span asp-validation-for="LoaiNghi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="TrangThai" class="form-control" value="Chưa Xét Duyệt" hidden />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

