@model DoAnCoSo.Models.KyLuat

@{
    ViewData["Title"] = "CreateKL";
    Layout = "~/Views/Shared/_LayoutQL.cshtml";
}

<br />
<a class="btn btn-primary" asp-controller="QuanLy" asp-action="QuanLyKyLuat">Quay Lại Danh Sách</a>
<a class="btn btn-primary" asp-action="CreateLoaiKL">Thêm Loại Kỷ Luật</a>
<br />
<br />
<br />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateKL">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaNhanVien" class="control-label"></label>
                <select asp-for="MaNhanVien" class="form-control" asp-items="ViewBag.nhanvien"></select>
            </div>
            <div class="form-group">
                <label asp-for="LyDo" class="control-label"></label>
                <input asp-for="LyDo" class="form-control" />
                <span asp-validation-for="LyDo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayQD" class="control-label"></label>
                <input type="date" asp-for="NgayQD" class="form-control" />
                <span asp-validation-for="NgayQD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KLId" class="control-label"></label>
                <select asp-for="KLId" class="form-control" asp-items="ViewBag.kyluat"></select>
            </div>
            <div class="form-group">
                <label asp-for="SoTien" class="control-label"></label>
                <input asp-for="SoTien" class="form-control" />
                <span asp-validation-for="SoTien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

