@model DoAnCoSo.Models.NhanVien

@{
    ViewData["Title"] = "CreateNV";
    Layout = "~/Views/Shared/_LayoutQL.cshtml";
}

<h1>Tạo nhân viên</h1>

<h4>NhanVien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateNV" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenNhanVien" class="control-label"></label>
                <input asp-for="TenNhanVien" class="form-control" />
                <span asp-validation-for="TenNhanVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Giới Tính</label>
                <div>
                    <label>
                        <input type="radio" asp-for="GioiTinh" value="Nam" /> Nam
                    </label>
                    <span style="margin-right: 35px;"></span>
                    <label>
                        <input type="radio" asp-for="GioiTinh" value="Nữ" /> Nữ
                    </label>
                </div>
                <span asp-validation-for="GioiTinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgaySinh" class="control-label"></label>
                <input type="date" asp-for="NgaySinh" class="form-control" />
                <span asp-validation-for="NgaySinh"  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SDT" class="control-label"></label>
                <input asp-for="SDT" class="form-control" />
                <span asp-validation-for="SDT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QueQuan" class="control-label"></label>
                <input asp-for="QueQuan" class="form-control" />
                <span asp-validation-for="QueQuan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HinhAnh" class="control-label"></label>
                <input type="file" asp-for="HinhAnh" class="form-control" />
                <span asp-validation-for="HinhAnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CCCD" class="control-label"></label>
                <input asp-for="CCCD" class="form-control" />
                <span asp-validation-for="CCCD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChucVu" class="control-label"></label>
                <select asp-for="MaChucVu" class="form-control" asp-items="ViewBag.Categories"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="QuanLyNV">Trở lại danh sách</a>
</div>

